# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Entorno / secretos
.env
*.local

# Herramientas
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
